.btn {
    background-color: #B82121;
    border: 1px solid #B82121;
    border-radius: 5px;
    padding: 20px 49px 19px;
    font-size: 14px;
    line-height: 1.3;
    font-weight: 700;
    text-align: center;
    display: inline-block;
  
    &:hover {
        box-shadow: 0 0 25px #B82121;;
        background-color: #000;

    }

    &--cards {
        padding: 20px 34px 19px;
        margin-bottom: 137px;

    }
}